# Jasper core dependencies
APScheduler==3.0.1
argparse==1.2.2
mock==1.0.1
pytz==2014.10
PyYAML==3.11
requests==2.5.0

# Pocketsphinx STT engine
cmuclmtk==0.1.5

# HN module
beautifulsoup4==4.3.2
semantic==1.0.3

# Birthday/Notifications modules
facebook-sdk==0.4.0

# Weather/News modules
feedparser==5.1.3

# Gmail module
python-dateutil==2.3

# MPDControl module
python-mpd==0.3.0
