body {
    margin: 0 auto;
    line-height: 1.7em;
    font-family:Open Sans;
}

h1, h2, h3, h4 {
    font-weight:300;
    color: #888;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}


#menu {
    margin-left: -300px;
    width: 300px;
    position: fixed;
    top: 0;
    left: 300px;
    bottom: 0;
    z-index: 1000;
    padding:20px;
}

#main {
    margin-left:80px;
}

.centered{
    width:300px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -150px;
}

.notice {
    background-color: #61B842;
    color: white;
}